
.coin{
    padding: .5rem 1rem;
    transition: all .3s ease-in;
    z-index: 2222222;
    text-transform: capitalize;
}

.coin:hover{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .3rem;
}

.coin:hover a {
    color: var(--main-bg-color);
    transition: all .3s ease-in;
}



:global(body.dark-mode) .coin:hover{
    background-color: var(--icons-color-2);
}
