

.filter {
    padding: 1.5rem 0;
    width: 80%;
    display: flex;
    justify-content: center;
}

.filter select {
    font-family: 'Exo 2', sans-serif;
    width: 70%;
    padding: .5rem;
    border-radius: 5rem;
    border: 1px solid var(--bg-second-dark);
    box-shadow: var(--box-shadow-2);
    background-color: var(--main-bg-color);
    font-size: 1rem;
    color: var(--main-bg-color-dark);
    cursor: pointer;
}

:global(body.dark-mode) .filter select {
    background-color: var(--main-bg-color-dark);
    border: 1px solid var(--bg-second-light);
    color: var(--main-bg-color);
}

@media screen and (max-width: 1024px) {

    .filter {
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    .filter select {
        width: 100%;
        box-shadow: var(--box-shadow-2);
    }
}



