

.NFTDetailsImg {
    width: 100%;
    overflow-x: hidden;
}

.NFTDetailsImg_box_NFT {
    width: 100%;
    display: grid;
    overflow-x: hidden;
}

.NFTDetailsImg_box_NFT_img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / end;
}

.NFTDetailsImg_box_NFT_img_img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
    cursor: pointer;
    overflow-x: hidden;
}

.NFTDetailsImg_box_NFT_like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;
    grid-row: 1 / end;
    z-index: 10000;
    align-self: flex-start;
    padding-inline: 2rem;
}


.NFTDetailsImg_box_NFT_like p {
    background: var(--pls-bg);
    padding: .5rem 1rem;
    color: var(--main-bg-color);
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.NFTDetailsImg_box_NFT_like_icon {
    font-size: 1.5rem;
    color: white;
}

.NFTDetailsImg_box_NFT_like_icon_1 {
    font-size: 2rem;
    color: var(--main-bg-color);
}

:global(body.dark-mode) .NFTDetailsImg_box_NFT_like_icon_1 {
    color: var(--main-bg-color-dark);
}

.NFTDetailsImg_box_details,
.NFTDetailsImg_box_description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
    background-color: var(--icons-color);
    border-radius: .5rem;
    padding-inline: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    color: var(--main-bg-color);
    overflow-x: hidden;
}

:global(body.dark-mode) .NFTDetailsImg_box_details,
:global(body.dark-mode) .NFTDetailsImg_box_description {
    background-color: var(--icons-color-2);
}

.NFTDetailsImg_box_details_box,
.NFTDetailsImg_box_description_box {
    padding: .1rem 1rem;
    font-size: 1rem;
    overflow-x: hidden;
}

.NFTDetailsImg_box_details_box p {
    font-size: 1rem;
}