.discover{
    padding: .5rem 1rem;
    transition: all .3s ease-in;
    z-index: 2222222;
}

.discover:hover{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .3rem;
}


:global(body.dark-mode) .discover:hover{
    background-color: var(--icons-color-2);
}

