.DropZone {
    width: 100%;
    margin-block: 3rem;
}

.DropZone_box {
    border: 5px dotted var(--icons-color);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

:global(body.dark-mode) .DropZone_box {
    border: 5px dotted var(--icons-color-2);
}



.DropZone_box_input_img_img {
    border-radius: 1rem;
    filter: invert(1);
}

:global(body.dark-mode) .DropZone_box_input_img_img {
    filter: invert(0);
}

.DropZone_box_input_img p {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0 2rem 0;
}


.DropZone_box_aside_box_img {
    border-radius: 1rem;
}


.DropZone_box_aside {
    padding: 2rem;
    border: 3px dotted var(--icons-color);
    margin-top: 3rem;
    border-radius: 1px;
}

:global(body.dark-mode) .DropZone_box_aside {
    border: 3px dotted var(--icons-color-2);
}

.DropZone_box_aside_box {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    gap: 3rem;
}

.DropZone_box_aside_box_preview p span {
    font-size: 1.2rem;
    font-weight: 700;
    margin-inline: 1rem;
}

.DropZone_box_aside_box_preview_one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1.2rem;
}

.DropZone_box_aside_box_preview_one p {
    font-weight: 300;
    font-size: 1rem;
    margin-top: -1rem;
}



@media screen and (max-width: 560px) {
    .DropZone_box_aside_box_preview_one {
        display: grid;
    }

    .DropZone_box_aside_box {
        grid-template-columns: 1fr;
    }


}