
.like{
    display: flex;
    align-items: flex-start;
}

.like_box{
    border: 3px solid var(--icons-color);
    border-radius: 50%;
}

:global(body.dark-mode) .like_box{
    border: 3px solid var(--icons-color-2);
}

.like_box_img{
    border-radius: 50%;
}