.aboutus {
    width: 100%;
    margin-block: 5rem;
}

.aboutus_box {
    width: 80%;
    margin: 0 auto;
}

.aboutus_box_hero {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    gap: 3rem;
}

.aboutus_box_hero_left h1 {
    font-size: 3.5rem;
}

.aboutus_box_hero_left p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
}

.aboutus_box_title {
    margin-top: 5rem;
}

.aboutus_box_title h2 {
    font-size: 2.5rem;
    line-height: 1;
}

.aboutus_box_title p {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: justify;
}



@media screen and (max-width: 560px) {
    .aboutus_box {
        width: 90%;
    }

    .aboutus_box_hero {
        grid-template-columns: 1fr;
    }


    .aboutus_box_title p {
        width: 100%;
    }

}




@media screen and (min-width: 561px) and (max-width: 799px) {
    .aboutus_box {
        width: 90%;
    }

    .aboutus_box_hero {
        grid-template-columns: 1fr;
    }


    .aboutus_box_title p {
        width: 100%;
    }


}


@media screen and (min-width: 800px) and (max-width: 1024px) {
    .aboutus_box {
        width: 90%;
    }
}