
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
  --icons-color: #0080ff;
  --icons-color-2: #0077d8;
  --icons-bg-color: #00eaff;
  --icons-light-color: #8000ff;
  --shadow-dark-color: #727272;
  --bg-shadow-dark-color: #545454;
  --shadow-light-color: #fff;
  --main-bg-color: #fafafa;
  --main-bg-color-dark: #111111;
  --overlay: #23232593;

  
  --bg-second-light: #d6d6d6;
  --bg-second-dark: #474747;

  --bg-very-light: #ededed;
  --bg-very-light-2: #f2efef;
  --bg-very-dark: #262626;
  --bg-very-dark-2: #1a1a1a;



  --pls-bg: linear-gradient(210deg, #00eaff 0%, #0080ff 25%, #8000ff 50%, #e619e6 75%, #f00 100%);
  --pls-color-1: #00eaff;
  --pls-color-2: #0080ff;
  --pls-color-3: #8000ff;
  --pls-color-4: #e619e6;
  --pls-color-5: #f00;



  --box-shadow: .5rem .5rem .5rem var(--shadow-dark-color),
    -.5rem -.5rem .5rem var(--shadow-light-color);


  --box-shadow-2: 0rem 0rem .5rem var(--shadow-dark-color),
    -.3rem .3rem .5rem var(--shadow-dark-color)
}



body {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--main-bg-color-dark);
  min-width: 100%;
  min-height: 100vh;
  color-scheme: light;
}

body.dark-mode {
  background-color: var(--main-bg-color-dark);
  color: var(--main-bg-color);
  color-scheme: dark;
}






img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


input {
  color: var(--icons-color);
}

input::placeholder {
  color: var(--icons-color);
}

textarea {
  color: var(--icons-color);
}

textarea::placeholder {
  color: var(--icons-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}


::selection {
  color: var(--main-bg-color);
  background: var(--icons-color);
}


body.dark-mode ::selection {
  color: var(--main-bg-color);
  background: var(--icons-color-2);
}


::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  border-color: black;
  background: linear-gradient(210deg, #00eaff 0%, #0080ff 25%, #8000ff 50%, #e619e6 75%, #f00 100%);
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: transparent;
  background-size: 100% 100%;
  width: .5rem;
  box-shadow: 0px 0px 0px 100000vh var(--bg-very-light-2);
}

body.dark-mode::-webkit-scrollbar-thumb {
  box-shadow: 0px 0px 0px 100000vh var(--bg-very-dark-2);
}



