
.news_title {
   margin-bottom: 3rem; 
}

.news_feed {
    width: 60%;
    margin: auto;
    margin-bottom: 8rem;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: .8rem;
}


@media screen and (min-width: 400px) and (max-width: 900px) {
    .news_feed {
        width: 80%;
    }
}


@media screen and (max-width: 399px) {
    .news_feed {
        width: 90%;
    }
}
