
.resellToken{
    width: 100%;
    margin-block: 4rem;
}

.resellToken_box{
    width: 60%;
    margin: 0 auto;
}

.resellToken_box h1{
    font-size: 3rem;
}

.resellToken_box h2{
    font-size: 1.5rem;
}

.resellToken_box_image{
    margin-block: 4rem;
    border-radius: 1rem;
}

.resellToken_box_image img{
    border-radius: 1rem;
}
